<!DOCTYPE html>
<html ng-app="dataApp">
<head>
    <title>FINAL EXAM!</title>
    <script src="angular.js"></script>

    <script src="bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="parentCtrl.js"></script>
    <script src="value.service.js"></script>
    <script src="secondCtrl.js"></script>
 
</head>
<body >

    <div ng-controller="parentCtrl">


        <button ng-click="card(0)">{{X[0]}}</button>
        <button ng-click="card(1)">{{X[1]}}</button>
        <button ng-click="card(2)">{{X[2]}}</button>
        <button ng-click="card(3)">{{X[3]}}</button>
        <button ng-click="card(4)">{{X[4]}}</button>
        <button ng-click="card(5)">{{X[5]}}</button>
        <button ng-click="card(6)">{{X[6]}}</button>
        <button ng-click="card(7)">{{X[7]}}</button>

    </div>
    <div ng-controller="secondCtrl">
        <p>Number of Tries:{{Sec.numOfTries}}</p>
        <p>Correct:{{Sec.right}}</p>

    </div>
    
    <br>
</body>
</html>