<!DOCTYPE html>
<html ng-app="dataApp">

<head>
    <title>HTTP!</title>
    <script src="angular.js"></script>
    <script src="bootstrap.js"></script>
    <script src="parentCtrl.js"></script>
    <script src="value.service.js"></script>

</head>

<body>


    <div ng-controller="parentCtrl">
        <p>
            <button ng-click="num(0)">{{X[0]}}</button>
            <button ng-click="num(1)">{{X[1]}}</button>
            <button ng-click="num(2)">{{X[2]}}</button>
            <button ng-click="num(3)">{{X[3]}}</button>
            <button ng-click="num(4)">{{X[4]}}</button>
            <button ng-click="num(5)">{{X[5]}}</button>
            <button ng-click="num(6)">{{X[6]}}</button>
            <button ng-click="num(7)">{{X[7]}}</button>
            <!-- <input type="number" ng-model="idToReq" />
            <button name="b1" ng-click="getUrlById()">get url by id</button>
            <p ng-if="!checkError()">title:   {{vs.data['title']}}</p>

        </p>
        <p ng-if="checkError()"> Error!!! http error code is: {{vs.data['status']}}</p> -->
         
    </div>





    <br>
</body>

</html>